body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    /* display grid genera las diviciones entre los diferentes elementos que tengas en tu hmtl */
    display: grid;
    /* grid-template-columns genera las columnas entre los items de container los porcentajes determinana la cantidad de columnas que va a tener tu elemento podes usar coalquier tipo de medida para tus columnas */
    /* grid-template-columns: 25% 50% 25%; */
    /* rows en ingles significna filas en este caso grid-template-rows cumple el mismo objetivo que grid-template-columns */
    /* grid-template-rows: 300px 300px;  */
    /* grid-template: filas / columnas;  es una forma abreviada de utilizar rows y columns el orden para ponerlo es como se muestra al principio*/
    grid-template: 300px 100px 100px/ 50% 200px 100px;
}
.item {
    background: lightblue;
    padding: 10px;
    border:  1px solid red;
}